# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store

# logs
derby.log
console.devmode.log

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders

# ensime/emacs conf files
.ensime
.scala_dependencies

# building
target
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
project/boot
.bsp

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Pax Runner (for easy OSGi launching)
runner

